.mainGrid {
    background-image: url("../public/background.png") !important;
    background-size: cover !important;
    height: calc(100vh - 80px) !important;
    min-height: 900px !important;
    position: relative !important;
}

.homeInfo {
    padding-top: 250px !important;
    padding-left: 70px !important;
}

.mainText {
    font-weight: 400 !important;
    /*font-size: 128px !important;*/
    /*line-height: 155px !important;*/
    color: #666666 !important;
    max-width: 950px !important;
}

.gridButtons {
    margin-top: 90px !important;
}

.button {
    width: 236px !important;
    height: 67px !important;
    border: 1px solid #666666 !important;
    border-radius: 10px !important;
    margin-right: 60px !important;
    text-transform: none !important;
    font-size: 20px !important;
}

@media (max-width: 900px) {
    .homeInfo {
        padding-top: 200px !important;
        padding-left: 50px !important;
        padding-bottom: 150px !important;
    }
    .mainText {
        font-weight: 400 !important;
        font-size: 78px !important;
        line-height: 85px !important;
    }
    .mainGrid {
        height: auto !important;
        min-height: 100px !important;
    }
}

@media (max-width: 680px) {
    .button {
        margin-top: 40px !important;
    }
}
@media (max-width: 600px) {
    .homeInfo {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        padding-top: 150px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .mainText {
        font-weight: 400 !important;
        font-size: 68px !important;
        line-height: 75px !important;
        text-align: center !important;
    }
    .gridButtons {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 0!important;
    }
    .button {
        margin-right: 0 !important;
    }
}

