.sendButton {
  border: none !important;
  background-color: #0795fe !important;
  color: white !important;
  padding: 7px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  font-weight: bold !important;
  text-transform: none !important;
}
.sendButtonFalse {
  border: none !important;
  background-color: #d9e2ec !important;
  color: white !important;
  padding: 7px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  font-weight: bold !important;
  text-transform: none !important;
}
.dropdownContent {
  display: none !important;
  margin: 10px !important;
  margin-left: 0 !important;
  position: fixed !important;
  background-color: #fcfafa !important;
  top: 53px !important;
  min-width: 200px !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
}

.dropdown {
  display: flex!important;
  height: 64px !important;
}

.dropdown:hover {
  background-color: #e5e4e4 !important;
}

.dropdownContent .dropDownLink {
  border-bottom: 1px solid #b6b4b4;
}
.dropDownLink:last-child {
  border-bottom: none;
}
.dropdown:hover .dropdownContent {
  //min-width: 10;
  //width: inherit !important;
  display: block !important;
  flex-direction: column !important;

  div {
    color: #000000 !important;

  }
  div:hover {
    background-color: #d5d4d4 !important;
  }

}

.titleContacts {
}


@media (max-width: 980px) {
  .gridInputs {
    margin-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 900px) {
  .titleContacts {
    margin-top: -30px !important;
    margin-bottom: -40px !important;
  }
  .textContacts {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
  }
  .textContacts2 {
    margin-top: -5px !important;
    margin-bottom: -25px !important;
  }
  .textContacts3 {
    margin-top: -25px !important;
    margin-bottom: -5px !important;
  }
}
@media (max-width: 600px) {
  .titleTestService {
    padding-right: 15px !important;
    margin-left: -30px !important;
  }
}


.toolbar {
  background-color: white !important ;
display: flex !important;
  justify-content: space-between !important;
  padding: 0 20px !important;
}

@media (max-width: 900px) {
  .toolbar {
    height: 60px !important
  }
}

.tabContainer {
  margin-left: auto !important;
  min-width: 10px !important;
  color: black !important;
}
.noActiveLink {
  text-decoration: none !important;
}
.tab {
  font-weight: bold !important;
   margin-left: 25px !important;
   color: black !important;
   &:hover {
     color: #0025ff !important;
     transition: background-color 0.25s, color 0.15s
   }
}
.arangeTabs {
  margin-right: 30px !important;
}
.arrangeRight {
  margin-right: 850px !important;
}
.arrangeLanguage {
  margin-right: 30px !important;
}
.arrangeDropdown {
  margin-top: -30px !important;
}
.arrangeDropImage {
  margin-right: 10px !important;
  margin-top: -2px !important;
}
.countryFlag {
  margin-right: 10px !important;
}
.activeLink{
  color: #0795fe !important;
  text-decoration: none !important;
  font-weight: bold !important;
}
.normalLink {
  text-decoration: none !important;
  color: black !important;
  font-weight: bold !important;
}
.dropItem {
  color: #0795fe !important
}
.arrangeDrop {
  margin-top: 10px !important
}
.drawer {
  background-color: #d9d9d9 !important
}
.drawerIconContainer {
  margin-left: auto !important;
  &:hover {
    background-color: transparent !important;
  }
}

.drawerIcon {
  color: #0795fe !important;
  height: 50px !important;
  width: 50px !important;
  font-weight: bold !important;
}
.cookieGrid {
  position: fixed !important;
  right: 30px !important;
  bottom: 42px !important;
  max-width: 375px !important;
  background-color: #3B3646 !important;
  padding: 20px !important;
  border-radius: 5px !important;
  box-shadow: 0 6px 6px rgba(0,0,0,0.25) !important;
  z-index: 10000 !important;
}
.appbar {
  position: relative;
  z-index: 1300 !important;
  background-color: white !important
}
.arrangeDrower {
  margin-top: 63px !important;
}
.boldText {
  font-weight: bold !important
}
//.drawerItem {
//  ...theme.typography.tab
//},
//.drawerItemSelected {
//  color: theme.palette.primary.main
//},
.drawerListSelected {
  background-color: #d9d9d9 !important
}
.space {
  margin-right: 5px !important;
}
.languageStyle {
  margin-top: 3px !important;
  font-weight: bold !important;
}
.logoContainer {

  &:hover {
  background-color: transparent !important
  }
}

.link {
  margin-left: 10px;
  color: #44BCDD;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 2px;
  border-bottom: 1px dotted rgba(255,255,255,0.75);
  transition: all 0.3s ease-in;
}

.link:hover {
  color: white;
  border-bottom-color: #44BCDD;
  transition: all 0.3s ease-in;
}

@media (max-width: 430px) {
  .cookieGrid {
    right: 0 !important;
    bottom: 0 !important;
  }
}