.topImage {
  margin-top: 50px !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 16.8em !important;
  width: 100% !important;
}


@media (max-width: 900px) {
  .topImage {
    height: 10em !important;
  }
}

@media (max-width: 600px) {
  .topImage {
    height: 8em !important;
  }
}